<ul class='bg-list'>
    <li class='bg-outer-list' ng-repeat='year in vm.postList.years'>
        <h2 class='bg-big-title'>{{year}}</h2>
        <ul class='bg-list'>
            <li class='bg-post-link' ng-repeat='post in vm.postList.allPosts[year]'>
                <a class='bg-post-title' data-ng-click='vm.getBlog(post.page)'>{{post.title}}</a>
                <span class='bg-post-date'>{{post.date}}</span>
            </li>
        </ul>
        <div class='bg-seperator'></div>
    </li>
</ul>