$sidenav-width : 60px;
$header-height : 10px;
$content-width : 95%;
$sidenav-item-width: 60px;

.bg-header {
    width: 100%;
    height: $header-height;
    background-color: aquamarine;
    position: absolute;
    top: 0;
}

.bg-sidenav {
    width: $sidenav-width;
    height: 100%;
    position: fixed;
    top: $header-height;
    left: 0;
    text-align: center;
}

.bg-content {
    width: $content-width;
    height: 100%;
    position: absolute;
    left: $sidenav-width;
    top: $header-height;
}

.bg-list-item {
    font-size : 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    height: $sidenav-item-width;
}

.bg-caption {
    font-size : 0.5em;
}
