.bg-login-form {
    margin:0 auto;
    text-align: center;
    margin-top: 100px;
    height: 600px;
    width: 400px;
    border: 1px solid lightblue;
}

.bg-login-form-title {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    background-color: aquamarine;
    font-size: 1.5em;
}

.bg-login-input {
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-login-button {
    text-align: center;
    margin-top: 300px;
    width:75%;
}
  
.bg-register-button {
    text-align: center;
    margin-top: 200px;
    width:75%;
}