.bg-editor-inner-display {
    position: relative;
    line-height: 1.6 !important;
}

.bg-editor-inner-display code {
    position: relative;
}

.bg-post-title {
    text-align: center;
    font-weight: 900;
    color: darkblue;
    opacity: 0.5;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-post {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-post-title-text {
    display: inline;
}

.bg-post-title-edit {
    border : 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.5em;
    float: right;
    margin-top: 10px;
}