$posts-inner-item-width : 400px;
$posts-list-margin-left : 20px;
$posts-inner-padding : 20px;
$posts-category-bar-width : 1200px;

.bg-posts {
    padding: 20px;
}

.bg-posts-list {
    margin-left: $posts-list-margin-left;
}

.bg-posts-item {
    margin-bottom: 5px;
}

.bg-posts-title {
    display: inline-block;
    width: $posts-inner-item-width;
}

.bg-posts-date{
	font-family: 'Lato', sans-serif !important;
    font-weight: 900;
    border-left: 8px solid antiquewhite;
    padding-left: 10px;
    color: cadetblue;
    display: inline-block;
    width: $posts-inner-item-width;
}

.bg-posts-inner-title {
    border-bottom: 1px dotted gainsboro;
    text-decoration: none;
}

.bg-posts-item:hover {
    background-color: fade-in($color:lightblue, $amount: 0.5);
}

.bg-posts-category {
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: $posts-category-bar-width;
    margin-left: 20px;
}

.bg-posts-category-item {
    width: $posts-inner-item-width;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border-left: 2px solid;
    padding-left: 10px;
}