@import './constants.css';

body {
	margin : 0px;
	position : absolute;
	height : 100%;
	width :100%;
	overflow: hidden;
}

:global(#root) {
	height :100%;
	width : 100%;
}

.app > :global(.container) {
	height : 100%;
	position : relative;
	transition : all 0.5s linear;
	display : flex;
	box-sizing : border-box;
}

.app > :global(.container.on-modal) {
	opacity : 0.5;
}

.app {
	position : relative;
	box-sizing : border-box;
	height : 100%;
}

.app > :global(.cover.on-modal) {
	position : absolute;
	width : 100%;
	height : 100%;
	z-index : $modal-cover-z;
	min-height : 80px;
}

.app > :global(.container.on-nav) {
	padding-top : $nav-height;
}
