@import './constants.css';

.button {
	min-width : $button-min-width;
	cursor : pointer;
	display : flex;
	flex-wrap : wrap;
	align-content : center;
	height : 100%;
}

.button > :global(.button-icon), .button > :global(.button-text) {
	width : 100%;
}

.button > :global(.button-text) {
	text-align : center;
	padding: $button-item-padding;
}

.inverse:hover {
	background : blue;
	border-color : blue;
}

.inverse:hover > :global(.button-text), .inverse:hover > :global(.button-icon) {
	color : white;
}

.border {
	border-style : $border-style;
	border-width : 1px 1px 1px 1px;
}

.disable {
	cursor : default !important;
}
