@import './constants.css';

.editor {
	position : relative;
	height : 100%;
	width : 100%;
	display : flex;
	border-right : 15px solid ghostwhite;
	box-shadow : 1px 0 1px darkgrey
}

.sidebar {
	position : absolute;
	display : flex;
	width : $editor-sidebar-width;
	top : 0;
	bottom : 0;
	left : calc(-1 * $editor-sidebar-width + $editor-side-toggle-width);
	transition : all 0.5s linear;
	z-index : $editor-side-z;
	box-shadow : 1px 0px 1px darkgray;
}

.sidebar:global(.display) {
	left : 0;
}

.sidebar > :global(.sidebar-button) {
	position : absolute;
	top : 0;
	bottom : 0;
	right : 0;
	width : 10px;
	display : flex;
	transition : all 0.5s linear;
	opacity : 0.5;
}

.sidebar > :global(.sidebar-button:hover) {
	opacity : 1;
}

.sidebar:global(.display) > :global(.sidebar-button) {
	transform : rotate(180deg);
}

.sidebar > :global(.sidebar-button) > :global(.button) {
	min-width : 10px !important;
}

.txt-editor {
	width : 100%;
	display : flex;
	flex-direction : column;
	transition : all 0.5s linear;
	padding-left : $editor-side-toggle-width;
}

.txt-editor:global(.cog) {
	padding-left : $editor-sidebar-width;
}

.tools {
	opacity : 0.7;
	display : flex;
	height : $editor-tools-height;
	border-bottom : 1px dotted darkgrey;
}

.tools :global(.button) {
	width : $editor-tools-btn-width; 
}

.tools > :global(.buttons) {
	display : flex;
	border-right : 1px solid lightgrey;
}

.tools :global(.input-text) {
	padding-left : 10px !important;
}

.descrip {
	opacity : 0.7;
	width : 100%;
	display : flex;
	height : 40px;
	border-bottom : 1px dotted darkgrey;
}

.descrip :global(.input-text) {
	padding-left : 10px !important;
}
