@import './constants.css';

.editor {
	position : relative;
	height : 100%;
	width : 100%;
	display : flex;
}

.sidebar {
	position : absolute;
	display : flex;
	width : $editor-sidebar-width;
	top : 0;
	bottom : 0;
	left : calc(-1 * $editor-sidebar-width + $editor-side-toggle-width);
	transition : all 0.5s linear;
}

.sidebar:global(.display) {
	left : 0;
}

.sidebar > :global(.sidebar-button) {
	position : absolute;
	top : 0;
	bottom : 0;
	right : 0;
	width : 10px;
	display : flex;
	transition : all 0.5s linear;
}

.sidebar:global(.display) > :global(.sidebar-button) {
	transform : rotate(180deg);
}

.sidebar > :global(.sidebar-button) > :global(.button) {
	min-width : 10px !important;
}

.txt-editor {
	width : 100%;
	display : flex;
	flex-direction : column;
	transition : all 0.5s linear;
	padding-left : $editor-side-toggle-width;
}

.txt-editor:global(.cog) {
	padding-left : $editor-sidebar-width;
}

.tools {
	display : flex;
	height : $editor-tools-height;
}

.tools :global(.button) {
	width : $editor-tools-btn-width; 
}
