@import 'constants.css';

.input {
	display : flex;
	align-items : center;
}

.input > :global(.input-icon) {
	max-width : $icon-max-width;
}

.input > :global(.input-text) {
	height : 100%;
	width : 100%;
	border : none;
	outline : none;
	background : none;
	padding-left : $input-left-padding;
}
