@import './constants.css';

.display {
	top : 0;
}

.hide {
	top :calc(-1 * $nav-height);
}

.navbar {
	opacity : 0.7;
	position : fixed;
	left : 0;
	right : 0;
	border-style : $border-style;
	border-width : $nav-border-width;
	border-color : $border-color;
	display : flex;
	background-color : rgba(255,255,255,0.95);
	justify-content : center;
	min-height : $nav-height;
	max-height : $nav-height;
	padding-left : $nav-padding-side;
	padding-right : $nav-padding-side;
	transition : top 0.5s linear;
	box-shadow : 0px 0px 1px darkgrey;
	z-index : $nav-z;
}

.navbar :global(.button) {
	width : 90px;
}

.navbar > :global(.single-button), :global(.search-group-button){
	display : flex;
	justify-content : flex-start;
}

.navbar > :global(.logo) {
	flex : 2 1 auto;
}

.navbar > :global(.single-button) {
	flex : 7 2 auto;
}

.navbar > :global(.single-button) > :global(.button:hover) {
	box-shadow : 0px 0px 1px black;
}

.navbar > :global(.search-group-button) {
	flex : 2 1 auto;
}

.navbar :global(.search-bar) {
	border-style : $border-style;
	border-width : 0px 1px 0 1px;
	border-color : $border-color;
}

.navbar :global(.visibility-toggle-button) {
	display : flex;
	align-items : flex-end;
	position : fixed;
	right : 0;
	top : 0;
	width : 50px;
	transition : all 1s;
}

.navbar :global(.false) {
	transform : rotate(180deg); 
}
